@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-noise bg-50 text-xl text-gray-700 leading-relaxed xl:leading-loose
  }

  strong {
    @apply tracking-wide
  }

  h1, h2, h3, h4 {
    @apply font-bold tracking-wide text-gray-900 leading-snug
  }

  h1 {
    @apply text-4xl md:text-5xl my-12
  }

  h2 {
    @apply text-3xl md:text-4xl my-10
  }

  p {
    @apply my-5
  }

  a {
    @apply text-brand
  }
}

@layer components {
  .button {
    @apply px-4 py-2 text-base font-medium tracking-wide
    rounded-xl shadow
    bg-white text-gray-800
    border border-gray-600
    hover:border-gray-400 hover:text-gray-500
    active:bg-gray-50
  }

  .button--primary {
    @apply shadow-lg
  }
}

@layer utilities {
  .filter-grayscale-25 {
    filter: grayscale(25%);
  }

  .filter-grayscale-50 {
    filter: grayscale(50%);
  }

  .filter-grayscale-75 {
    filter: grayscale(75%);
  }

  .filter-grayscale {
    filter: grayscale(100%);
  }
}
